/* Globals */
:root {
  --darkblue: #112D4E;
  --blue: #3F72AF;
  --gray: #DBE2EF;
  --white: #F9F7F7;
}

/*Removes most CSS default styling, courtest of the Meyer Reset*/
/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#endregion*/

.container {
  height: 193vh;
  background-color: var(--gray);
}

/*Hero on Home.js*/
/*#region*/
.hero {
  height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  font-size: 72px;
  gap: 2rem;
  color: var(--white);
  background-color: #DBE2EF30;
  outline: 3px solid #F9F7F740;
  outline-offset: -10px;
}

.heroText h1 {
  font-size: 72px;
  margin: 0;
}

.heroText p {
  font-size: 28px;
  margin: 0;
  text-align: center;
}
/*#endregion*/

.contentContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  row-gap: 5rem;
  padding: 2rem;
}

.itemImage {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 250px;
  width: 250px;
}

.itemImage img{
  width: 250px;
  height: 250px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 5rem 10rem 0;
  background-color: var(--gray);
}

.infoContainer img {
  width: 500px;
  height: auto;
  padding-bottom: 3rem;
}

.infoContainer div {
  width: 50%;
  padding-bottom: 3rem;
}

.infoContainer div p {
  text-align: center;
  font-size: 48px;
}

/*Nav.js styling*/
/*#region*/
.navbar {
  height: 7vh;
  width: 100vw;
  position: fixed;
  color: var(--gray);
  background-color: var(--darkblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 4rem;
}

.navItem {
  margin: 1rem;
}

.navItem a {
  text-decoration: none;
  font-size: 30px;
}

.navItem a:visited,
.navItem a:hover,
.navItem a:focus {
  text-decoration: inherit;
  color: inherit;
}

/*#endregion*/
